@media screen and (max-width:1400px)
{
  .aboutMe h2, .skills h2 .formRow2 h2 {
    font-size: 20px;
}

.aboutMe p{
  font-size:16px;
}
.aboutMe {
    height:50vh;
}

.startSkills li{
  font-size:16px;
}

.form input {
  font-size:12px;
}

.butn {
  font-size:12px;
}
}
